/*
Design by Shoichi Mori, Asaga Hideyuki
Start from 31/05/12
http://www.shochimori.com
Released for Netbarin.inc
*/

body {
	margin: 0px;
	padding: 0px;
	background: #ECF0EC url(../img/carpet.png) repeat;
	text-align: justify;
	font-family: "framd",Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #303030;
}

h1, h2, h3 {
	font: 1.82em;
	font-weight: normal;
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
	letter-spacing: -2px;
	font-weight: 400px;
	color: #000000;
}

p, ol, ul {
	line-height: 1.67em;
	list-style: none;
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
}

a {
	color: #303030;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/*-----------------------------*
 * Web font setting
 *-----------------------------*/
@font-face {
    font-family: 'framd';
    src: url('../font/framd.eot');
    src: url('../font/framd.eot?#iefix') format('embedded-opentype'),
         url('../font/framd.woff') format('woff'),
         url('../font/framd.ttf') format('truetype'),
         url('../font/framd.svg#framd') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*-----------------------------*
 * Header 
 *-----------------------------*/
#header {
	width: 1000px;
	height: 150px;
	margin: 0px auto;
	z-index:2;
	/** position:relative; **/
}

/* Header line with shadow */
#header-line{
	width: 970px;
	margin: 20px 15px 0px 15px;
	border-bottom: 5px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* Logo */
#logo {
	float: left;
	padding: 0 0 0 115px;
}

#logo #logo_image {
	margin: 0;
	height: 80px;
	padding: 20px 0 0 0px;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #000000;
}

#logo p {
	margin: 0px 0 0 2px;
	text-align:center;
	/** font-family: Tahoma, Arial, Helvetica, sans-serif; **/
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
	font-weight: bold;
	font-size: 15px;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #000000;
}

/*-----------------------------*
 * Menu
 *-----------------------------*/
#menu {
	float: right;
	padding: 30px 80px 0 0;
}

#menu p{
	margin: 0px 0px 0px 0px;
	text-align:center;
	font-family: "framd",Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 12.5px;
}

/* Header line with shadow */
#menu-line{
	width: 480px;
	margin: 20px 10px 0px 10px;
	border-bottom: 3px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#menu ul {
	margin: 0px;
	padding: 8px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 5px;
	padding: 5px 30px;
	/**
	background: #EA8101;
	border-radius: 10px;
	border-top: 2px solid #EBEAD1;
	**/
	text-decoration: none;
	text-transform: uppercase;
	font-family: "framd",Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 15px;
	color: #000000;
}

#menu a:hover, .active a {
}

/*-----------------------------*
 * Page
 *-----------------------------*/
#page {
	width: 100%;
	height:900px;
	margin: 0px auto;
	padding: 10px 0 0 0;
	position: relative;
	
/* full-sized screen */
	background: url(../img/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*-----------------------------*
 * Contents Message
 *-----------------------------*/
#contents-box{
	width: 530px;
	height:220px;
	margin-top: 280px;
	margin-left:42%;
	padding: 10px 10px 10px 10px;
}

#content1{
	position:relative;
	float:right;
	width: 450px;
	height:65px;
	padding: 0;
	background:#ffffff;
	
	border-bottom: 3px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	z-index:5;
}

#content1 img{
	padding: 10px;
	float:right;
}

#content2{
	position:relative;
	float:right;
	width: 515px;
	height:115px;
	padding: 0;
	margin-top:10px;
	background:#ffffff;
	
	border-bottom: 3px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	z-index:5;
}

#content2 img{
	padding: 10px;
	float:right;
}

/*-----------------------------*
 * CSS3 gallery content
 *-----------------------------*/
#gallery-box{
	position:relative;
	width: 100%;
	height:440px; /** valiable **/
	margin-top:-60px;
	background-color:rgba(0,0,0,0.8); 
	z-index:3;
}

.sub-gallery-box{
	position:relative;
	width: 1000px;
	height:440px;
	margin: 0 auto;
}

.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 20%;
	/*background: transparent url(../img/3Dgallery/browser.png) no-repeat top left;*/
	box-shadow: 0px 10px 20px rgba(216,216,216,0.3);
}

.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.dg-wrapper a img{
	display: block;
	/*padding: 41px 0px 0px 1px;*/
}

.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #ffffff;
	font-size: 18px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}

.dg-wrapper a.dg-center div{
	display: block;
}

.gallery-box nav{
}

.gallery-box nav span{
	position:absolute;
	cursor:pointer;
	width: 24px;
	height: 50px;
	opacity: 0.8;
	background: transparent url(../img/3Dgallery/arrow-prev.png) no-repeat top left;
	top: 190px;
	left:15px;
}

.gallery-box nav span:hover{
	opacity: 1;
}

.gallery-box nav span.dg-next{
	background: transparent url(../img/3Dgallery/arrow-next.png) no-repeat top left;
	left:960px;
}

/*
	Slideshow
*/

#slides {
	width:482px;
	height:316px;
	margin: 0 auto;
	position:relative;
	top:60px;
	left:4px;
	z-index:100;
	-moz-box-shadow: 	3px 3px 5px 6px #4c4c4c;
	-webkit-box-shadow: 3px 3px 5px 6px #4c4c4c;
	box-shadow: 		3px 3px 5px 6px #4c4c4c;
}

.slides_container {
	width:482px;
	overflow:hidden;
	position:relative;
	top:-26px;
	display:none;
}

.slides_container div.slide {
	width:482px;
	height:316px;
	display:block;
}

.slide a img {
	opacity: 0.9;
}

#slides .next,#slides .prev {
	position:absolute;
	top:120px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
	opacity: 0.8;
}

#slides .next {
	left:497px;
	opacity: 0.8;
}

#slides .prev:hover {
	opacity: 1;
}

#slides .next:hover {
	opacity: 1;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.caption p {
	font:normal 70%/1.5 Helvetica, Arial, sans-serif;
	margin:0; padding:0; border:0; outline:0;
}

/*-----------------------------*
 * GLOBAL FOOTER
 *-----------------------------*/
footer.global{
	clear:both;
	width:1020px;
	margin: 0px auto;
}
footer.global #pageTop{
	text-align:right;
	padding:20px 0 20px 0;
	width:978px;
	height:50px;
	margin: 0px auto;
}

footer.global #pageTop #backscroll{
	width:300px;
	margin:0px 10px 0 10px;
	float:right;
}

footer.global #pageTop #backscroll p{
	font-family: "framd",Arial, Helvetica, sans-serif; 
}


footer.global #pageTop #sns{
	width:500px;
	margin:10px 10px 0 10px;
	float:left;
}

footer.global #pageTop #sns .sns_botton{
	float:left;
	padding:0 10px 0 10px;
}

footer.global #pageTop a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "framd",Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 15px;
	color: #000000;
}

footer.global #footerCont{
	width:978px;
	height:73px;
	font-size:77%;
	padding:1px;
}
footer.global #footerCont ul{
	background:#F8F8F8 repeat left top;
	width:978px;
	height:66px;
	margin:0;
	padding-top:7px;
	overflow:hidden;
}
footer.global #footerCont ul li{
	height:60px;
	float:left;	
	width: 256px;
	padding: 0 35px;
	
	font-size: 12.5px;
	font-weight: normal;
	color: #000000;
}
footer.global #footerCont ul li.ftCompany{
	height:46px;
	padding-top:14px;
}
footer.global #footerCont ul li.ftAddress{
	height:46px;
	padding-top:14px;
}
footer.global #footerCont ul li.ftTell{
	height:43px;
	padding-top:17px;
	text-align:center;
	background: none;
}
footer.global #footerCont ul li.ftTell img{
	margin-bottom:-2px;
}
footer.global #footerCont ul li.ftTell a{
	letter-spacing:0.6px;
}

footer.global #footerBtm{
	height:60px;
	margin-top:25px auto;
	padding-bottom:20px;
	position:relative;
}
footer.global #footerBtm ul.navi{
	position:absolute;
	top:12px;
	left:0;
	width:500px;
	font-size:77%;
}
footer.global #footerBtm ul.navi li{
	background:url(../img/footer/arrow.png) right 15px no-repeat;
	float:left;
	margin-right:16px;
	padding-right:9px;
	padding-top:8px;
	letter-spacing:1px;
}
footer.global #footerBtm ul.navi li a{
	display: block;
	text-decoration: none;
}

footer.global #footerBtm #copyright{
	position:absolute;
	top:19px;
	right:0;
	font-family: "framd",Arial, Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 12.5px;
}

#footer-line{
	width:1020px;
	margin: 20px 0px 20px 0px;
	border-bottom: 5px solid black;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* Footer */

#wrapper2 {
}

#footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
}

#footer a {
	text-decoration: none;
	font-size: 10px;
}

#legal {
	clear: both;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 10px;
	color: #525252;
}

#legal a {
	border-bottom: 1px dotted #939393;
	text-decoration: none;
}
